footer {
    background-color: rgb(11, 58, 130);
    color: white;
    padding: 20px 0px;
    font-size: 13px;
}
.footer-link a {
    text-decoration: underline;
}

section#main_content.landing_page {
    background-image: url(../../img/images/bg.avif);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 70px 0px;
    text-align: center;
    min-height: calc(-250px + 100vh);
    position: relative;
}